<html>
  <head>
    <title>{{ config.site_name }} - {{ config.site_tag_line }}</title>
    <link rel="alternate" type="application/rss+xml" title="RSS Feeds" href="/rss" />
    <link rel="stylesheet" type="text/css" href="/resources/style.css" />
    <link rel="icon" type="image/ico" href="/favicon.ico">
  </head>
  <body>
      <div style="display:none;"><h1>{{ config.site_name }}</h1><h2>{{ config.tag_line }}</h2></div>
    <div id="login-holder">
        {{nav_link}} 
    </div>
    <div id="container">
      <div id="header"><a class="feedicon" href="/rss"><img src="/resources/feed.png" border="0"/></a></div>
      <div id="sidebar">
        <h3>Что это?</h3>
        <p>Агрегатор твиттов украинских политиков и того, что им и о них пишут.</p>
        <h3>Зачем?</h3>
        <p>Это первый пробный проект в формате "codejam" под эгидой донецкого "<a href="http://groups.google.com/group/cnc-donetsk/">кофе-и-кода</a>".</p>
      </div>
      <div id="content">
        {% for tweet in tweets %}
        <div id="{{ tweet.id }}" class="tweet">
          <div class="usericon"><a href="http://twitter.com/{{ tweet.from_user|urlencode }}"><img src="{{ tweet.profile_image_url }}" width="48" height="48" /></a></div>
          <div class="text">
            <a href="http://twitter.com/{{ tweet.from_user|urlencode }}" class="userlink">{{ tweet.from_user|escape }}:</a> {{ tweet.text|escape|urlize }}
          </div>
          <div class="meta">
            <a href="http://twitter.com/{{ tweet.from_user|urlencode }}/statuses/{{ tweet.id|urlencode }}">{{ tweet.status.relative_created_at }}</a>
            из {{ tweet.source }}
          </div>
          <div class="clearleft"></div>
        </div>
        {% endfor %}

        <div class="paging">
          {% if show_prev_page %}<a href="/?page={{ prev_page }}">&laquo; Предыдущие 20</a>{% endif %}
          {% if show_next_page %}<a href="/?page={{ next_page }}">Следующие 20 &raquo;</a>{% endif %}
        </div>
      </div>
      <div id="footer">
        <table>
          <tr>
            <td width="50%" valign="top">
              <h3>Кто твиттит?</h3>
              <div class="cloud">{% for c in cloud|dictsortreversed:"count"|slice:":40"|dictsort:"lower_name" %} {{ c.html }} {% endfor %}</div>
            </td>
            <td width="50%" valign="top">
              <h3>Как?</h3>
              <p>За основу взят <a href="http://github.com/steffentchr/twitterengine">код</a> аналогичного датского проекта <a href="http://www.folketwinget.dk/">http://www.folketwinget.dk/</a>. <a href="http://github.com/dudarev/twitterengine">Код изменений</a> тоже открыт.</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
